{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <span class="logo">My School Web</span>
            {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "index" %}class="selected"{% endif %}>
                    <a href="{% url 'account:index' %}">个人信息页面</a>
                </li>
                <li {% if section == "list" %}class="selected"{% endif %}>
                    <a href="{% url 'Students:Stu_List' %}">KMeans页面</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="{% url 'Predict:grades_list' %}">RNN页面</a>
                </li>
            </ul>
            {% endif %}
            <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <a href="{% url "account:logout" %}">Logout</a>
            {% else %}
                <a href="{% url "account:login" %}">Log-in</a>
            {% endif %}
            </span>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

