{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <span class="logo">面向教育的异常检测</span>
            {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "index" %}class="selected"{% endif %}>
                    <a href="{% url 'account:index' %}">个人信息</a>
                </li>
                <li {% if section == "Stu_List" %}class="selected"{% endif %}>
                    <a href="{% url 'Students:Stu_List' %}">KMeans</a>
                </li>
                <li {% if section == "grades_list" %}class="selected"{% endif %}>
                    <a href="{% url 'Predict:grades_list' %}">RNN</a>
                </li>
            </ul>
            {% endif %}
            <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.username }},
                <!--<a href="{% url "account:logout" %}">Logout</a>-->
                <form action="{% url 'account:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="transparent-button" type="submit">登出</button>
                </form>             
            {% else %}
                <a href="{% url "account:login" %}">Log-in</a>
            {% endif %}
            </span>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

