{% extends 'Students/base.html' %}

{% block title %}Student Detail{% endblock %}

{% block content %}
    <h1>Kmeans聚类</h1>
    <p><strong>Class Number:</strong> {{ stu.Class_Number_id }}</p>
    <p><strong>Student Number:</strong> {{ stu.Stu_Number }}</p>
    <div>
    <img src="{{image_path}}" alt="K-means Clustering Image">
    </div>
    {% if is_outlier %}
    <p style="color: red; font-weight: bold;">该学生异常</p>
    {% else %}
    <p style="color: green; font-weight: bold;">该学生不存在异常</p>
    {% endif %}

    <!-- 删除按钮 -->
    <form action="{% url 'Students:delete_student' stu.Stu_Number stu.Class_Number_id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="删除该学生">
    </form>
    
{% endblock %}
