{% extends 'Students/base.html' %}
{% load static %}

{% block title %}Student List{% endblock %}

{% block content %}
<link href="{% static "list.css" %}" rel="stylesheet">
    <h2>Student List</h2>
    <div class="table-container">
        <table class="student-table">
            <thead>
                <tr>
                    <th>Student Number</th>
                    <th>Class Number</th>
                    <th>Medu</th>
                    <th>Fedu</th>
                    <th>Travel Time</th>
                    <th>Study Time</th>
                    <th>Failures</th>
                    <th>Famrel</th>
                    <th>Freetime</th>
                    <th>Go out</th>
                    <th>Health</th>
                    <th>Absences</th>
                    <th>G1</th>
                    <th>G2</th>
                    <th>G3</th>
                    <!-- 表头信息 -->
                </tr>
            </thead>
            <tbody>
                {% for stu in stus %}
                    <tr>
                        <td><a href="{{ stu.get_absolute_url }}">{{ stu.Stu_Number }}</a></td>
                        <td>{{ stu.Class_Number }}</td>
                        <td>{{ stu.Medu }}</td>
                        <td>{{ stu.Fedu }}</td>
                        <td>{{ stu.traveltime }}</td>
                        <td>{{ stu.studytime }}</td>
                        <td>{{ stu.failures }}</td>
                        <td>{{ stu.famrel }}</td>
                        <td>{{ stu.freetime }}</td>
                        <td>{{ stu.goout }}</td>
                        <td>{{ stu.healths }}</td>
                        <td>{{ stu.absences }}</td>
                        <td>{{ stu.G1 }}</td>
                        <td>{{ stu.G2 }}</td>
                        <td>{{ stu.G3 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {% if stus.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ stus.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">Page {{ stus.number }} of {{ stus.paginator.num_pages }}.</span>
        {% if stus.has_next %}
            <a href="?page={{ stus.next_page_number }}">Next</a>
            <a href="?page={{ stus.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
{% endblock %}
